@model SearchModel
@{
	ViewData["Title"] = Model.search;
}
<div class="header-logo py-5 d-none d-lg-block">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6 text-center">
				<a class="navbar-brand" href="/"><img src="/images/logo.png" alt="" class="img-fluid w-100"></a>
			</div>
		</div>
	</div>
</div>

<partial name="_Header1"/>

<div class="breadcrumb-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="text-center">
					<h2 class="lg-title">@Model.search</h2>
				</div>
			</div>
		</div>
	</div>
</div>

<partial name="_Post" model="Model.Categorys" />


<partial name="_Footer1" />