
@*
   @@model Post/Blog
*@





						<div class="col-lg-6 col-md-6">
							<article class="post-grid mb-5">
								<div class="post-thumb mb-4">
									<img src="images/news/f2.jpg" alt="" class="img-fluid w-100">
								</div>
								<span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">Travel</span>
								<h3 class="post-title mt-1"><a href="blog-single.html">How to Make the Best Baked Oatmeal</a></h3>

								<span class=" text-muted  text-capitalize">August 05, 2019</span>

							</article>
						</div>





						@*
						<div class="col-lg-6 col-md-6">
							<article class="post-grid mb-5">
								<div class="post-thumb mb-4">
									<img src="/images/@@Model.Image" alt="@@Model.Image" class="img-fluid w-100">
								</div>
								<span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">@@Model.CategoryName</span>


								<h3 class="post-title mt-1"> <a href="/Blog/Detail/@@Model.Id">@@Model.Name</a></h3>

								<span class=" text-muted  text-capitalize">@@Model.CreateDate</span>

							</article>
						</div>*@