
<div class="footer-btm mt-5 pt-4 border-top">
	<div class="row">
		<div class="col-lg-12">
			<ul class="list-inline footer-socials-2 text-center">
				<li class="list-inline-item"><a href="#">Gizlilik Politikası</a></li>
				<li class="list-inline-item"><a href="#">Destek</a></li>
				<li class="list-inline-item"><a href="/Home/About">Hakkımda</a></li>
				<li class="list-inline-item"><a href="/Home/Contact">İletişim</a></li>
				<li class="list-inline-item"><a href="#">Şartlar</a></li>
				<li class="list-inline-item"><a href="#">Kategori</a></li>
			</ul>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-lg-6">
			<div class="copyright text-center ">
				@@ Tüm Hakları Saklıdır <a href="https://siliconmadeacademy.com/index.html">siliconmade.com</a>-2023
			</div>
		</div>
	</div>
</div>