
@{
}
<div class="row justify-content-center">
	<div class="col-lg-6">
		<div class="subscribe-footer text-center">
			<div class="form-group mb-0">
				<h2 class="mb-3">Bültene Abone Ol</h2>
				<p class="mb-4">
					Yeni blog gönderileri, ipuçları ve bilgiler için Bültene abone olun.
				</p><p>
				</p><div class="form-group form-row align-items-center mb-0">
					<div class="col-sm-9">
						<input type="email" class="form-control" placeholder="Email">
					</div>
					<div class="col-sm-3">
						<a href="#" class="btn btn-dark ">Takip Et</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
