@model LoginModel
@{
    ViewData["Title"] = "Giriş";
    Layout = null; // sayfada varsayılan admin layout u kullanmayacağımızı belirttik
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kullanıcı İşlemleri</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="/login/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="cont">
        <main>
            <div class="ml-5">
                <div class="col-lg-8 form sign-in">
                    <div class="card shadow-lg border-0 rounded-lg">
                        <div class="card-header"><h3 class="text-center font-weight-light my-4">Merhaba</h3></div>
                        <div class="card-body">
                            <form asp-controller="Auth" asp-action="Login" method="post">
                                <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Email" class="form-control" id="inputEmail" type="email" name="email" placeholder="name@example.com" />
                                    @*<span asp-validation-for="Email" class="text-danger"></span>*@
                                </div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Password" class="form-control" id="inputPassword" type="password" placeholder="Şifre" name="password" />
                                    @*<span asp-validation-for="Password" class="text-danger"></span>*@
                                </div>
                                <p class="form-floating forgot-pass"><a style="color:#cfcfcf" href="/Auth/ForgotPassword">Şifremi Unuttum</a></p>
                                <p class="form-floating forgot-pass"><a style="color:#cfcfcf" href="/">Ana Sayfa</a></p>
                                <div class="d-flex align-items-center justify-content-between mb-0">
                                    <button type="submit" class="submit">Giriş</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div class="sub-cont">
            <div class="img">
                <div class="img__text m--up">
                    <p><b>Kaydolun ve çok sayıda yeni bilgiler öğrenin!</b></p>
                </div>
                <div class="img__text m--in">
                    <p><b>Halihazırda bir hesabınız varsa oturum açın. Sizi özledik!</b></p>
                </div>
                <div class="img__btn">
                    <span class="m--up">Kayıt Ol</span>
                    <span class="m--in">Giriş</span>
                </div>
            </div>
            <div class="container">
                <div class="container card rounded-lg p-5 mt-5 mb-3">
                    <p class="form-floating forgot-pass"><a style="color:black" href="/Auth/Register"><b>Kayıt Ol</b></a></p>
                </div>
                <div class="container card rounded-lg p-5 mt-5 mb-3">
                    <p class="form-floating forgot-pass"><a style="color:black" href="/"><b>Ana Sayfa</b></a></p>
                </div>
            </div>
        </div>
    </div>
    <script src="/login/js/custom.js"></script>
</body>
@section Scripts
    {
    <script src="/modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}
</html>
