@{
    Layout = null; // sayfada varsayılan admin layout u kullanmayacağımızı belirttik
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kullanıcı İşlemleri</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="/login/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="cont">
        <main>
            <div class="ml-5">
                <div class="col-lg-8 form sign-in">
                    <div class="card shadow-lg border-0 rounded-lg">
                        <div class="card-header"><h3 class="text-center font-weight-light my-4">Merhaba</h3></div>
                        <div class="card-body">
                            <form asp-action="" method="post">
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="inputEmail" type="email" name="email" placeholder="name@example.com" />
                                </div>
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="inputPassword" type="password" placeholder="Şifre" name="password" />
                                </div>
                                <p class="form-floating forgot-pass"><a style="color:#cfcfcf" href="/Auth/ForgotPassword">Şifremi Unuttum</a></p>
                                <p class="form-floating forgot-pass"><a style="color:#cfcfcf" href="/">Ana Sayfa</a></p>
                                <div class="d-flex align-items-center justify-content-between mb-0">
                                    @TempData["Mesaj"]
                                    <button type="submit" class="submit">Giriş</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div class="sub-cont">
            <div class="img">
                <div class="img__text m--up">
                    <p><b>Kaydolun ve çok sayıda yeni bilgiler öğrenin!</b></p>
                </div>
                <div class="img__text m--in">
                    <p><b>Halihazırda bir hesabınız varsa oturum açın. Sizi özledik!</b></p>
                </div>
                <div class="img__btn">
                    <span class="m--up">Kayıt Ol</span>
                    <span class="m--in">Giriş</span>
                </div>
            </div>
            <main>
                <div class="col-lg-12 form sign-up">
                    <div class="card shadow-lg border-0 rounded-lg">
                        <div class="card-body">
                            <form asp-action="" method="post">
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="inputName" type="text" name="text" placeholder="Ad-Soyad" />
                                </div>
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="inputEmail" type="email" name="email" placeholder="name@example.com" />
                                </div>
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="inputCity" type="text" name="text" placeholder="Şehir" />
                                </div>
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="inputPhone" type="tel" name="phone" placeholder="Telefon" />
                                </div>
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="inputPassword" type="password" placeholder="Şifre" name="password" />
                                </div>
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="inputPassword" type="password" placeholder="Şifre Tekrar" name="password" />
                                </div>
                                <p class="form-floating forgot-pass"><a style="color:#cfcfcf" href="/">Ana Sayfa</a></p>
                                <div class="d-flex align-items-center justify-content-between mb-0">
                                    @TempData["Mesaj"]
                                    <button type="submit" class="submit">Kayıt Ol</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="/login/js/custom.js"></script>
</body>
</html>
